.SentenceCreation {
  height: 100vh;

  &__content {
    text-align: center;

    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    color: #0e0e0e;

    input {
      font-size: calc(20px + 2vmin);
    }
  }
}
